
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: 'handil-pro';
  src: url('../fonts/handilpro-medium-webfont.woff2') format('woff2'),
       url('../fonts/handilpro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "handil-pro", sans-serif;
  color: #263238;
  background-color: #647D8E;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "handil-pro", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #7BCCEA;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #7BCCEA;
  border-top-color: #263238;
  border-bottom-color: #263238;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #CDDC39;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #263238;
  line-height: 0;
}

.back-to-top:hover {
  background: #ddeb63;
  color: #263238;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background-color: #7BCCEA;

}

#header.header-scrolled,
#header.header-inner-pages {
  background: #7BCCEA;
}

#header .eureka-logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .eureka-logo a {
  color: #263238;
}

#header .eureka-logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  text-decoration: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.droppp{
  text-decoration: none;
}
.navbar li {
  position: relative;
  text-decoration: none;

}

.navbar a,
.navbar a:focus {
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #263238;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  text-decoration: none;

  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  text-decoration: none;

  color: #CDDC39;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  text-decoration: none;

  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #263238;
  font-size: 14px;
  border: 2px solid #7BCCEA;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  text-decoration: none;

  color: #263238;
  background: #7BCCEA;
}

.navbar .dropdown ul {
  text-decoration: none;
  background-color: #7BCCEA;
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 30px #7BCCEA;
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  text-decoration: none;

  min-width: 200px;
}

.navbar .dropdown ul a {
  text-decoration: none;

  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #263238;
}

.navbar .dropdown ul a i {
  text-decoration: none;

  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {  text-decoration: none;

  color: #CDDC39;
}

.navbar .dropdown:hover>ul {
  text-decoration: none;

  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  text-decoration: none;

  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  text-decoration: none;

  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 166px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #263238;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #263238;
}
.bi bi-arrow-up-short{
  color: #CDDC39;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #7BCCEA;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #263238;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #7BCCEA;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #7BCCEA;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #7BCCEA;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #263238;
  box-shadow: 0px 0px 30px #7BCCEA;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #7BCCEA;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
  visibility: visible !important;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* Increase bottom margin of the headline container */
#hero .d-flex.flex-column.justify-content-center {
  margin-right: 20px; /* Adjust the value as needed */
  text-decoration: none;

}

/* Or, alternatively, increase top margin of the news teaser and key messages container */
#hero .news-teaser, #hero {
  margin-left: 20px; /* Adjust the value as needed */
  text-decoration: none;

}
.news-teaser-wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 400px; /* Adjust the max-width as needed */
  margin-right: 0; /* Adjust to align it to the right */
  margin-left: 200px;
  text-decoration: none;

}
.news-teaser {
  color: #263238;
  background: #7BCCEA;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px #263238;
  margin-bottom: 20px;
  text-decoration: none;


}

.news-teaser h3 {
  color: #CDDC39;
  font-size: 24px;
  margin-bottom: 25px;
  text-decoration: none;

  /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */

}

.news-teaser ul {
  list-style: none;
  padding: 0;
  text-decoration: none;

    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */

}

.news-teaser ul li {
  margin-bottom: 10px;
  color: #647D8E;
  text-decoration: none;


}

.news-teaser ul li a {
  color: #263238;
  transition: color 0.3s ease-in-out;
  text-decoration: none;

}

.news-teaser ul li a:hover {
  color: #CDDC39;
  text-decoration: none;

}

.news-teaser .btn-more-info {
  display: inline-block;
  background-color: #CDDC39;
  color: #263238;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-decoration: none;

}

.news-teaser .btn-more-info:hover {
  background-color: #ddeb63;
}

.key-messages-section {
  padding: 60px 0; /* Adjust the padding as necessary */
  background-color: #647D8E; /* A light background color for the section */
  background-size: cover;
  background-position: center;
}


.key-messages-list {
  padding-inline-start: 0; /* Removes the default padding */
  list-style: none; /* Removes the default list style */
  background-color: #7BCCEA; /* Background color for the box */
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 20px; /* Padding inside the box */
  max-width: 600px; /* Maximum width of the box */
  margin: auto; /* Center the box horizontally */
}

.key-messages-list li {
  font-size: 22px; /* Adjust the font size as necessary */
  color: #263238; /* Adjust the text color as necessary */
  margin-bottom: 15px; /* Space between list items */
  line-height: 1.6; /* Adjust line height for better readability */
}




#hero {
  width: 103%;
  height: 450px;
  background-image: url("../img/eureka-specific/BLUE_vp_Medbeta.jpg");
  background-color: #7BCCEA; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


#hero .container {
  padding-top: 72px;
  padding-right: 10px; /* Adjust right padding as needed */
}

.hero-section-content {
  display: flex;
  justify-content: space-between;
  align-items: start; /* Adjust as needed for alignment */
}

/* Ensure responsiveness */
@media (max-width: 1068px) {
  .hero-section-content {
    flex-direction: column;
  }
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #263238;
}

#hero h2 {
  color: #CDDC39;
  margin-bottom: 50px;
  font-size: 44px;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #263238;
  background: #CDDC39;
}

#hero .btn-get-started:hover {
  background: #f0ff69;
}


#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 0px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #7BCCEA;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #7BCCEA;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #CDDC39;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.slogan h2{
  font-size: 20px;
  font-weight: 500;
  color: #7BCCEA;
  position: relative;
  text-decoration:double;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);


}

.logo-carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.logo-carousel {
  display: flex;
  white-space: nowrap;
  position: relative;
  animation: scroll 20s linear infinite; /* Adjust the duration to control scrolling speed */
}

.logo-carousel img {
  max-width: 100px; /* Adjust logo size as needed */
  max-height: 1000px;
  margin: 0 10px; /* Adjust spacing between logos as needed */
  flex-shrink: 0;
  justify-content: center;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust to -50% for the doubled content */
  }
}

/* Section key-facts */

/* .factsheet-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #7BCCEA;
  color: #263238;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.factsheet-header {
  background-color: #CDDC39;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.factsheet-body {
  padding: 20px;
}

.fact-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fact-label {
  font-weight: bold;
}

.fact-value {
  text-align: right;
}

@media (max-width: 768px) {
  .fact-item {
    flex-direction: column;
    align-items: start;
  }

  .fact-value {
    text-align: start;
    padding-top: 5px;
  }
} */

#key-facts {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #7BCCEA;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#key-facts h2 {
  color: #CDDC39; /* Using the Teal Cyan color for headings */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#key-facts ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  text-align: center;
}

#key-facts li {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #263238; /* Slate Gray for text */
}

#key-facts li a {
  color: #647D8E; /* Electric Lime for links */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease; /* Smooth transition for link hover */
}

#key-facts li a:hover {
  color: #317F7B; /* Darken link color on hover */
}

#key-facts img {
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 50%; /* Circular flags */
}




/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
/* About Section Enhancements */
#about-button{  text-decoration: none;
  background-color: #CDDC39;
}
.about {
  text-align: center;
  padding: 60px 0;
  background: #263238;
}

.section-title h2 {
  color: #CDDC39;
  text-transform: uppercase;
  font-size: 32px;
}

.section-title p {
  margin-bottom: 40px;
  color: #647D8E;
}

.about-container {
  align-items: center;
}

.about-img {
  margin-bottom: 30px;
}

.about-img img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.about-content h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 24px;
  color: #CDDC39;
}

.about-content p {
  text-align: center; /* Ensure text is centered */
  align-self: center;
  align-items: center;
  margin-bottom: 20px;
  align-content: center;
  line-height: 1.6;
  color: #647D8E;
  font-size: 16px;
}

.about-highlight {
  margin-top: 30px;
}

.about-highlight img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* About Section General Styles */
.about.section-bg {
  background-color: #647D8E; /* Adjust to match your section background */
  padding: 60px 0; /* Spacing around the section */
}


/* Accordion Styles */
#solutions-details .accordion-item {
  border: none; /* Removes default borders */
  background-color: transparent; /* Ensures accordion background matches the section */
  margin-bottom: 1rem; /* Spacing between accordion items */
}

#solutions-details .accordion-button {
  background-color: #7BCCEA; /* Primary color for the button */
  text-align: center;
  align-items: center;
  font-size: 1.2rem; /* Adjust font size as needed */
  border: none; /* Removes border */
}

#solutions-details .accordion-button:focus {
  box-shadow: none; /* Removes focus outline */
}

#solutions-details .accordion-button:not(.collapsed) {
  color: #263238;
  background-color: #7BCCEA; /* Darker shade when expanded */
}

#solutions-details .accordion-body {
  font-size: 1rem; /* Text size within accordion body */
  color: #495057; /* Text color, adjust based on your design */
}

/* Adjustments for images and content within the accordion for responsiveness and alignment */
#solutions-details .accordion-body .row .col-lg-6 {
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}

#solutions-details .accordion-body img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Adds rounded corners to images */
}
#solutions-details{
  border-radius: 5%;

}

/* Ensure the 'Read More' link aligns with your site's design */
.about-read-more {
  display: inline-block;
  background-color: #7BCCEA; /* Button background */
  padding: 10px 20px; /* Button padding */
  border-radius: 5px; /* Button border radius */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.about-read-more:hover {
  background-color: #7BCCEA; /* Darker shade on hover */
  text-decoration: none; /* Removes underline on hover */
  color: white; /* Maintains text color on hover */
}

/* Global section padding */
section {
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}.horizontal-scroll-section .container {
    overflow: hidden;
}

.scroll-container {
    position: relative;
    overflow: hidden;
}

.scroll-content {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.content-item {
    flex: 0 0 auto;
    width: 100%; /* Adjust based on your layout */
    padding: 20px;
    box-sizing: border-box;
}

.content-item img {
    max-width: 100%;
    height: auto;
    display: block;
}



.prev-btn {
    left: 0;
    
}

.next-btn {
    right: 0;
}


/* .whatiseureka {

  background-color: #263238263238ce;
  padding: 60px 0;
  overflow: hidden;
} */

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.partners {
  text-align: center; /* Center content within this container */
  background-color: #ffffff;
}

/* Specifically target the image */
.partners img {
  display: block;
  margin: 0 auto; /* Center the image */
  max-width: 100%; /* Make sure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

.partners .content {
  padding: 60px 100px 0 100px;
}

.partners .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #7BCCEA;
}

.partners .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}


.partners .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.partners .accordion-list {
  padding: 0 100px 60px 100px;
}

.partners .accordion-list ul {
  padding: 0;
  list-style: none;
}

.partners .accordion-list li+li {
  margin-top: 15px;
}



.partners .accordion-list a {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.partners .accordion-list span {
  color: #7BCCEA;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.partners .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.partners .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.partners .accordion-list .icon-show {
  display: none;
}



.partners .accordion-list a.collapsed:hover {
  color: #7BCCEA;
}

.partners .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.partners .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .partners .content,
  .partners .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .partners .img {
    min-height: 400px;
  }

  .partners .content {
    padding-top: 30px;
  }

  .partners .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .partners .img {
    min-height: 200px;
  }
}
.logo-container {
  width: 100%;
  overflow:visible;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
}
.modal-backdrop {
  /* background: none; */
  backdrop-filter: blur(100px);
}
.logo {
  max-width: 80px; /* Adjust logo size as needed */
  max-height: 80px;
  margin: 0 15px; /* Adjust spacing between logos as needed */
  flex-shrink: 0;
  justify-content: center;  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.3); /* Scales the logo by 10% on hover */
  cursor: pointer;
}

.sesar-logo {
  max-width: 110px; /* Adjust logo size as needed */
  max-height: 60px;
  margin: 0px 5px 0px 30px; /* Adjust spacing between logos as needed */
  flex-shrink: 0;
  justify-content: center;  transition: transform 0.3s ease;
}
/*--------------------------------------------------------------
# advisory-board
--------------------------------------------------------------*/
.advisory-board {
  width: 100%;
  background-image: url("../img/eureka-specific/INDRA.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.advisory-board .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #7BCCEA;
}

.advisory-board .content ul {
  list-style: none;
  padding: 0;
}

.advisory-board .content ul li {
  padding-bottom: 10px;
}

.advisory-board .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #7BCCEA;
}

.advisory-board .content p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# news
--------------------------------------------------------------*/
.news .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #647D8E;
}

.news .icon-box .icon {
  margin-bottom: 10px;
}

.news .icon-box .icon i {
  color: #7BCCEA;
  font-size: 36px;
  transition: 0.3s;
}

.news .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.news .icon-box h4 a {
  color: #7BCCEA;
  transition: ease-in-out 0.3s;
}

.news .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.news .icon-box:hover {
  transform: translateY(-10px);
}

.news .icon-box:hover h4 a {
  color: #7BCCEA;
}
.news{
  background-color: #647D8E;
}
.news-container {
  width: 80%;
  margin: auto;
  max-width: 800px;
  background-color: #647D8E;
}

.news-item {
  background-color: #7BCCEA;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.news-item h3 {
  margin-top: 0;
  color: #CDDC39;
}
.news-item p {
  margin-top: 0;
  color: #263238;
}

.date {
  font-style: italic;
  color: #263238;
}
/* .card-header {
  background-color: #cccccc;
  color: #263238;
  font-weight: 600;
  font-size: 18px;
}
#solution-btn{
  color: #7BCCEA;
  /* background-color: #7BCCEA; */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #7BCCEA;
  border-radius: 5px;
  margin-bottom: 15px;
}



.card-body {
  padding: 15px;
}
.btn-block {
  display: flex;
  justify-content: space-between; /* Aligns content to the start and end of the button */
  align-items: center; /* Vertically centers the text and icon */
}

.icon-span {
  /* Optional: Adjust these to fine-tune the icon's position */
  margin-left: 50px /* Pushes the icon to the right */
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/

.cta h3 {
  color: #263238;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #263238;
}

.cta .cta-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #263238;
  color: #263238;
}

.cta .cta-btn:hover {
  background: #7BCCEA;
  border: 2px solid #7BCCEA;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-color: #ffffff;
}
.contact .info {
  border-top: 3px solid #7BCCEA;
  border-bottom: 3px solid #7BCCEA;
  padding: 30px;
  background: #263238;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #7BCCEA;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #7BCCEA;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #7BCCEA;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}



.contact .info .social-links a:hover {
  background: #7BCCEA;
  color: #263238;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #7BCCEA;
  color: #263238;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #7BCCEA;
  border-bottom: 3px solid #7BCCEA;
  padding: 30px;
  background: #263238;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
  color: #7BCCEA;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #CDDC39;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #CDDC39;
  background: #263238;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #263238;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #CDDC39;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #7BCCEA;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #CDDC39;
  border: 0;
  padding: 12px 34px;
  color: #263238;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #f3ff85;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*-------------------------------------------------------------
# Newsletter
--------------------------------------------------------------*/

/* Newsletter Section Enhancements */
#newsletter {
background: #647D8E;
  color: #CDDC39;
  padding: 60px 0;
  text-align: center;
}

#newsletter h4 {
  color: #CDDC39;
  margin-bottom: 15px;
  font-size: 30px;
  text-transform: uppercase;
}

#newsletter p {
  color: #263238;
  margin-bottom: 30px;
}
.newsletter-form .input-group {
  display: flex; /* Ensures elements are side-by-side */
  align-items: stretch; /* Aligns items vertically */
}

.newsletter-form input[type="email"] {
  flex-grow: 1; /* Allows input to take available space */
  border: 0;
  padding: 10px 20px;
  border-radius: 20px 0 0 20px;
}

.newsletter-form button {
  position: absolute;
  right: 0;
  border: 0;
  background-color: #CDDC39;
  color: #263238;
  padding: 10px 25px;
  border-radius: 0 20px 20px 0;
  transition: background-color 0.3s;
  white-space: nowrap; /* Prevents text wrapping */

}

.newsletter-form button:hover {
  background-color: #f1ff7a;
  cursor: pointer;
}

/* Responsive Adjustments  */
 @media (max-width: 768px) {
  .newsletter-form .input-group {
    flex-direction: column; /* Stacks elements vertically on smaller screens */
  }
    .newsletter-form button {
    width: 100%;
    border-radius: 50px;
    position: relative;
  }
  
  .newsletter-form button {
    top: 10px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #647D8E;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #263238;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #7BCCEA;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #7BCCEA;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #7BCCEA;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
  color: #7BCCEA;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #7BCCEA;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: #7BCCEA;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #7BCCEA;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #CDDC39;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #7BCCEA;
  color: #263238;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #CDDC39;
  color: #263238;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #263238;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}
